.App {
  text-align: center;
  margin: 0;
  padding: 0;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (min-width:1025px) { 

  .App-router {
    width: 100%;
  }

 }
