h1 {
    font-weight: 300 !important
}
a{
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
}

a:visited {
    color: white;
}

.Navbar img {
    height: 20vh;
    width: auto;
    border-radius: 50%;
    border: 2px solid #003b8e;
    -webkit-box-shadow: 0px 0px 40px -5px rgba(94,145,242,1);
    -moz-box-shadow: 0px 0px 40px -5px rgba(94,145,242,1);
    box-shadow: 0px 0px 40px -5px rgba(94,145,242,1);

}

.Navbar-name {
    font-size: 3.5rem !important;
}


.Navbar-title {
    font-size: 2rem;
}

.active-link {
    border-bottom: 2px solid white;
}
@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 

}
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { 
   
    .Navbar-nav{

    }

 }
